autom4te.cache
stamp-h*
libyasm-stdint.h
yapp-token.c
license.c
x86parse.c
re2c-parser.c
re2c-parser.h
cleanup
test_hd
version.mac
*_test
configure
configure.scan
configure.lineno
./config.*
aclocal.m4
*.tar.gz
*.la
*.lo
*.o
*.a
.libs
.deps
libtool
*.bb
*.bbg
*.da
results
./Makefile
Makefile.in
.*.swp
python-setup.txt
yasm_python.c
.python-build
_yasm.pxi
yasm.pyx
build
yasm.so
x86insn_nasm.gperf
x86insn_gas.gperf
YASM-VERSION-FILE
YASM-VERSION.h
.sw*
./*.s
./*.asm
x64
*.log
*.trs
.dirstamp
*.user
/zig-out
/zig-cache
